<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
SC.initialize({
  client_id: 'e5827bb602f60810667a81ca65823de3'
});
</script>

<p id="notice"><%= notice %></p>

<div class="header">
  <a href="/"><div class="logo"></div></a>
  <div class="user"></div>
</div>
<h3 class="song-page"> <a href="/home/search"><< Back to the book result</a></h3>
<h1>Listing songs</h1>

<p>
  <b>BookID:</b>
  <%= @catalog.book_id %>
</p>

<div class="book-stuff"></div>
<% image_url = "" %>
<script>
$(document).ready(function(){
  $.getJSON('https://api.readmill.com/v2/books/'+ "<%= @catalog.book_id %>"
  +'.json?client_id=3c3e949307f81c6445f04491b5843609&callback=?', function(data) {
    console.log(data);
    $(".book-stuff").html("Author: " + data.book.author + "<br>"
    + "Title: " + data.book.title + "<br>");
    var image = "<div id='image'><img src=" + data.book.cover_url + " alt='book cover'></div>";
    $('.book-stuff').append(image);
  });
});
</script>

<% i = 0 %>

<% Catalog.getAllSongIdsFor(@catalog.book_id).each do |song| %>
  <% new_div_id = "putTheWidgetHere" + i.to_s %>
  <b>Song:</b> <%= link_to song[0], song[1] %>
  <div id="<%= new_div_id %>"></div>
  <br/ >
  <script type="text/JavaScript">
    SC.oEmbed('<%= song[1] %>', {color: "ff0066"},
    document.getElementById("<%= new_div_id %>"));
  </script>
  <% i += 1 %>
<% end %>

<br/>

